@charset "UTF-8";

$main-color: #9E927C;
$base-color-w:  #FFFEFC;
$base-color-b:  #EBE2D1;
$base-color-lb: #D0DCEA;
$accent-color: #6E839E;

.container{
  width: 1920px;
  height: auto;
 // background-color: #ffff00;
  margin: 0 auto;
}

.header{
  height: 100px;
  background-color: $main-color;
  position: relative;
  ul{
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    color: $base-color-w;
    li{
      float: left;
      margin: 0 55px;
      font-size: 30px;
    }
  }
}

.footer{
  height: 78px;
  width: 1920px;
  background-color: $main-color;
  position: relative;
  p{
  font-size: 24px;
  color: $base-color-w;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  }
}



.common{
  height: 1080px;
  position: relative;
  p{
    position: absolute;
    top: 125px;
    left: 125px;
    display: inline;
    color: $base-color-w;
    font-size: 50px;
    font-family: YuGothic;
    font-weight: bold;
    background-color: $accent-color;
    padding: 7px 15px;
  }
}

.home{
  position: relative;
  img{
    height: 1080px;
    width: 1920px;
  }
  p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: $base-color-w;
    font-size: 120px;
    background-color: rgba(0,0,0,0.4);
    width: 806px;
    height: 166px;
    text-align: center;
    font-family: 'Klee One', cursive;
  }
}

.profile{
  background: linear-gradient($base-color-w, $base-color-b);
}

.skill{
  background: linear-gradient($base-color-b, $base-color-w);
}

.portfolio{
  background: linear-gradient($base-color-w, $base-color-b);
}