@charset "UTF-8";

$main-color: #9E927C;
$base-color-w:  #FFFEFC;
$base-color-b:  #EBE2D1;
$base-color-lb: #D0DCEA;
$accent-color: #6E839E;

body{
  font-family: YuGothic;
}

.container{
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.nav{
  height: 100px;
  width: 100%;
  background-color: $main-color;
  text-align: center;
  ul{
    display: inline-block;
    color: $base-color-w;
    width: 100%;
    li{
      display: inline-block;
      margin: 38px 55px;
      font-size: 30px;
    }
  }
}

.fxd{
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
}

.footer{
  height: 78px;
  width: 100%;
  background-color: $main-color;
  position: relative;
  p{
  font-size: 24px;
  color: $base-color-w;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  }
}



.common{
  height: 1080px;
  position: relative;
  .caption{
    position: absolute;
    top: 125px;
    left: 125px;
    display: inline;
    color: $base-color-w;
    font-size: 50px;
    font-weight: bold;
    background-color: $accent-color;
    padding: 7px 15px;
  }
}

.home{
  position: relative;
  img{
    height: 100%;
    width: 100%;
  }
  p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: $base-color-w;
    font-size: 120px;
    background-color: rgba(0,0,0,0.4);
    width: 806px;
    height: 166px;
    text-align: center;
    font-family: 'Klee One', cursive;
  }
}

.add_hi{
  margin-top: 100px;
}

.profile{
  background: linear-gradient($base-color-w, $base-color-b);
  position: relative;
  .profile_box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 853px;
    height: 387px;
    img{
      width: 387px;
      height: 387px;
      border-radius: 50%;
    }
    .intro{
      width: 416px;
      height: 387px;
      float: right;
      margin-top: 80px;
      .name{
        font-size: 24px;
        margin-bottom: 38px;
      }
      .section{
        font-size: 16px;
        line-height: 30px;
      }
    }
  }
}

.skill{
  background: linear-gradient($base-color-b, $base-color-w);
  .project{
    img{
      height: 410px;
    }
  }
}

.portfolio{
  background: linear-gradient($base-color-w, $base-color-b);
}